<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="/static/img/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="/static/img/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/static/img/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-TileImage" content="/static/img/mstile-144x144.png">
{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

<script>
function reloadframe() {   
        document.getElementById("toplist").src = document.getElementById("toplist").src;
    }   
$(document).ready(function(){setInterval(reloadframe, 300000)})
</script>
</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
</div>
<div class="navbar-collapse collapse">
    {% search_form "all" %}
    {% page_menu "pages/menus/dropdown.html" %}
</div>
</div>
</div>

<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<h1>{% block title %}{% endblock %}</h1>

<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>

</div>

<div class="container">
<div class="row">

<div class="col-md-2 left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>

<div class="col-md-7 middle">
    {% block main %}{% endblock %}
</div>
<div class="col-md-3 right">
    {% nevercache %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% block score %}
      {% if user.profile %}
      目前總分: {{ user.profile.score|slugify|slice:":-6" }}
      {% endif %}
    {% endblock %}
    {% block puzzle_list %}
    {% if puzzle_list %}
	{% for p in puzzle_list %}
  <div>

<a href="{% url  'puzzle:puzzle' p.0.pk %}">{{ p.0.title }} </a>
<ul>
{% for d in p.1 %}
<li> {{ d.0.scale }}  ({{ d.0.score }} pts ): {% if d.1 %} 
			    {% if d.1.result %}
			        <b style="color: green" >解出</b>
			    {% else %} 
			    <b style="color: red" >失敗</b>
			    {% endif %}
                            
                            {% else %} 
                            未做
                            {% endif %}</li>
{% endfor %}
</ul>

    {% if user.is_authenticated %}    
   {% for d in p.dataset_set.all %}       
    
    {% endfor %}
{% else %}
login to see your score
{% endif %}
 </div>   
    
  {% endfor %}
	
	  
     {% else %}        
    {% endif %}
    {% endblock %}
</div>    
 </div>
<div class="panel panel-default">    
<div class="panel-body">
    {% block right_panel %}
    <script type="text/javascript">
    function SetCwinHeight(){
	var iframeid=document.getElementById("toplist"); //iframe id
	if (document.getElementById){   
	if (iframeid && !window.opera) {   
			if (iframeid.contentDocument && iframeid.contentDocument.body.offsetHeight) {   
				iframeid.height = iframeid.contentDocument.body.offsetHeight;
			}
			else if(iframeid.Document && iframeid.Document.body.scrollHeight) {   
				iframeid.height = iframeid.Document.body.scrollHeight;   
			}
		}
	}
};
    </script>
    <iframe src="{% url 'puzzle:top' 20 %}" width="100%" marginwidth="0" marginheight="0" scrolling="No" 
frameborder="0" id="toplist" margin-left="20" onload="Javascript:SetCwinHeight()"> </iframe>



    {% endblock %}
    </div>
    </div>
    
        
   
</div>

</div>
</div>

<footer>
<div class="container">
{% page_menu "pages/menus/footer.html" %}

<div class="row">
<p class="site-info text-center">
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>
    <span class="separator">|</span>
    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
</div>
</footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>
