{% extends "base.html" %}
{% load i18n %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h1> 第二次蟒極客 Geek.py 競賽 </h1>
台灣時間 6/20 17:00 開始到 6/22 日 23:59 截止。</br>
前五名可贏得 5 張 COSCUP 2014 門票
歡迎各界人士報名。

{% endblocktrans %}
{% load blog_tags keyword_tags i18n %}
{% blog_recent_posts 5 as recent_posts %}
{% if recent_posts %}
<h3>最新蟒極客消息</h3>
<ul class="unstyled recent-posts">
{% for recent_post in recent_posts %}
<li><a href="{{ recent_post.get_absolute_url }}"
    >{{ recent_post.title }}</a></li>
{% endfor %}
</ul>
<img style="display:block; margin: auto;" src="/static/media/uploads/img/geekpy.png" />
{% endif %}

{% endblock %}
