{% extends "base.html" %}
{% load i18n %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h1> 第二次蟒極客 Geek.py 競賽 </h1>
<p>
第二次蟒極客 Geek.py 網路程式解題競賽，將在台灣時間 6/20 17:00 開始到 6/22 日 23:59 舉行。前五名的獎品是 10 秒就賣完的 COSCUP 2014門票。
</p>
<p>
(獎品的來源是一些講者、開源貢獻者的私人捐贈以及售票亭排隊買到的一張票。)
</p>
<p>
與之前送 PyCon APAC 門票的比賽不同，這次不限制學生身份，也不限制使用程式語言種類。
</p>
<p>
和一般程式比賽不一樣的地方是，可以使用 Open Source 的任何工具來解題。有些題目善用開源工具就能事半功倍，不一定要手刻演算法。
</p>
<p>
活動網址是 <a href="http://geekpy.org">http://geekpy.org</a> ，可以在 6/18 週三前先註冊試試看，練習過去的題目。6/19 週四晚上 22:00 後會先關站重新整理，比賽前再開站。
</p>
<p>
(歡迎分享給有興趣的人)
</p>
{% endblocktrans %}
{% load blog_tags keyword_tags i18n %}
{% blog_recent_posts 5 as recent_posts %}
{% if recent_posts %}
<h3>最新蟒極客消息</h3>
<ul class="unstyled recent-posts">
{% for recent_post in recent_posts %}
<li><a href="{{ recent_post.get_absolute_url }}"
    >{{ recent_post.title }}</a></li>
{% endfor %}
</ul>
<img style="display:block; margin: auto;" src="/static/media/uploads/img/geekpy.png" />
{% endif %}

{% endblock %}
