{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h1>蟒極客 Geek.py 平台公開測試中</h1>
每個題目提供有一組到多組的 dataset，作答不限時間，不限次數。
目前因為是公開測試，題目較簡單。<br />
正式比賽將於 4/18 17:00 開始到 4/20 日 23:59 截止。</br>
預計於 4/17 日晚上測試結束，目前測試帳號有可能會被刪除。


<h2> You Can Help </h2>
<div>
歡迎各界同好先進，提供獎品贊助、題目構想以及美工素材。
也歡迎測試提供意見。
</div>

{% endblocktrans %}
{% load blog_tags keyword_tags i18n %}
{% blog_recent_posts 5 as recent_posts %}
{% if recent_posts %}
<h3>最新蟒極客消息</h3>
<ul class="unstyled recent-posts">
{% for recent_post in recent_posts %}
<li><a href="{{ recent_post.get_absolute_url }}"
    >{{ recent_post.title }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
